<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include link-fontawesome.html %}
    {% include link-style.html %}
    {% include meta-view.html %}
    {% include script-mathjax.html %}
    {% include script-mermaid.html %}
    {% include title-title.html %}
  </head>

  <body>
    <header class="page-header" role="banner">
      {% include name-title.html %}
      {% include tagline-description.html %}
      {% include btn-home.html %}
      {% include btn-repo.html %}
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      {% include site-footer.html %}
    </main>
  </body>
</html>
